@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------------- Colours*/






/*-------------------------------------------------- Special paddings/margins/text*/

* {
text-align: center;
}

.uppercase {
 text-transform: uppercase;
}

/*-------------------------------------------------- Heading*/

header {
margin: 0;
background:rgba(0, 0, 0, 0.8);
position: fixed;
width: 100vw;
z-index: 1000;
}

.name {
   font-family: "Exo", sans-serif;
   font-weight: 300;
   font-size: 24px;
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
   color: #ffffff;
   float: left;
}

.list-inline-item:not(:last-child) {
  margin: 0;
  
}

.menucontainer {
  font-size: 0;
}

#nav-wrapper {
    z-index: 10000;
}

#nav {
  margin: 0; 
}

#nav li {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 0;

}

.menuitem {
   margin-top: 30px;
   margin-bottom: 20px;
   height: 10px;
   text-align: center;
   padding: 5px;
}

.menuitem a {
   width: 100%;
   text-decoration:  none;
   color: #fff;
}

.menuitem a:hover {
   color: yellow;
   text-decoration: underline;
 }

 /*---------------------------------------------------------------- Body Background*/

body {
   background-color: black; 
   text-transform: "Poppins", sans-serif;
}

.hero-image {
    position: absolute;
    height: 400px;
    width: 100%;
    background: url('../images/mac-keyboard.jpg') no-repeat center center; 
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------------------------------- Body*/

.avatar {
    vertical-align: middle;
    height: 185px;
    width: 185px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: solid 8px rgba(48, 46, 46, 0.8);
    background: url('../images/profile-pic.jpg') no-repeat center center;
    margin-top: 150px;
    opacity: 0.8;
}

#name {
    z-index: 1000;
    color: #ffffff;
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 12px;
}

#description {
    color: rgba(48, 46, 46, 1.0);
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: 4px;
}

#profile-page {
    font-size: 22px;
}


/*----------------------------------------------------------------------- About Me*/

.about-me-heading {
    
    font-style: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 90px;
}

.about-me-heading i {
    color: rgba(48, 46, 46, 1.0);
    font-size: 26px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.about-me-text p {
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin-top: 3rem;
}


/*----------------------------------------------------------------------- Personal Details*/

.personal-details {
    color: #ffffff;
    font-size: 24px;
    font-style: "Exo", sans-serif;
    font-weight: 200;
    margin-top
}

/*------------------------------------------------------------------ Block Dividers*/

.block-divider {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
    height: 2px;
    border: 0;
    background-color: #ffd901fa;
}

/*------------------------------------------------------------------ Footer*/

footer {
    position: static;
    background-color: rgba(48, 46, 46, 0.2);
    color: #ffffff;
    bottom: 0;
    margin-top: 0;
    min-height: 80px;
    
}

h5.uppercase.general-sub {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 15px;
    font-weight: 200; 
}


i.fa.fa-download {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

i.fa.fa-download:hover {
    color: yellow;
}

/*---------------------------------------------------------------- Contact Footer*/

h5.uppercase.general-sub-2 {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 15px;
    font-weight: 200;
}

.social-links li a i {
    padding: 0 8px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color:  yellow;
    padding: 0;
}

