@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-------------------------------------------------------------------------- Special paddings/margins/text*/

* {
text-align: center;
}

.uppercase {
 text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*------------------------------------------------------------------------------ Heading*/

header {
  margin: 0;
  background:rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10000;
  width: 100vw;
  margin-bottom: 0.3em;
  font-family: "Exo", sans-serif;
  font-weight: 400;
  margin-right: 1rem;
}

.name {
   font-family: "Exo", sans-serif;
   font-weight: 400;
   font-size: 24px;
   margin-top: 8px;
   margin-left: 20px;
   margin-bottom: 20px;
   color: #ffffff;
   float: left;
}



 /*-------------------------------------------------------------------------- Body Background*/

body {
   background-color: black; 
   font-family: "Poppins", sans-serif;
}



/*----------------------------------------------------------------------- Hero Background Image*/

.hero-image {
    position: absolute;
    height: 400px;
    width: 100%;
    background: url('../images/mac-keyboard.jpg') no-repeat center center; 
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-image.resume {
    position: absolute;
    height: 300px;
    width: 100%;
    background: url('../images/mac-keyboard.jpg') no-repeat center center; 
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-image.portfolio {
    position: absolute;
    height: 300px;
    width: 100%;
    background: url('../images/mac-keyboard.jpg') no-repeat center center; 
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-image.contact {
    position: absolute;
    height: 300px;
    width: 100%;
    background: url('../images/mac-keyboard.jpg') no-repeat center center; 
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------------------------------------------------- Body*/

.avatar {
    vertical-align: middle;
    height: 185px;
    width: 185px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: solid 5px rgba(48, 46, 46, 0.6);
    background: url('../images/profile-pic.jpg') no-repeat center center;
    margin-top: 150px;
    opacity: 1.0;
}

#name {
    z-index: 1000;
    color: #ffffff;
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 12px;
}

#description {
    color: rgba(48, 46, 46, 1.0);
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: 4px;
}

#profile-page {
    font-size: 20px;
}

.fa.fa-instagram {
    font-size: 1.5rem;
    margin-top: 0.8em;
}

.fa.fa-pinterest {
    font-size: 1.5rem;
    margin-top: 0.8em;
}

.fa.fa-linkedin {
    font-size: 1.5rem;
    margin-top: 0.8em;
}

/*-------------------------------------------------------------------------------- About Me*/


.info-about-me {
    margin-left: 0;
    margin-right: 0;
}


.about-me-heading {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 150px;
}

.about-me-heading i {
    color: rgba(48, 46, 46, 1.0);
    font-size: 26px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.about-me-block {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 1.5rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1.5rem;
}

.age {
    color: #ffd901fa;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
}


/*----------------------------------------------------------------------------- Personal Details*/

.personal-details-heading {
    color: #ffffff;
    font-size: 24px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    margin-top: 30px;    
}

.personal-text {
   color:  rgba(165, 161, 161, 0.6);
   font-family: "Exo", sans-serif;
   font-size: 16px;
   font-weight: 400;
   margin-right: 7vw;
}

.personal-info-item {
    display: block;
    clear: center;
    margin-bottom: 30px;
    margin-left: 10vw;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #ffffff;
}


.personal-inline-block {
    display: inline-block;
    min-width: 8vw;
}

.link-colour  {
    color: #ffffff
}


/*--------------------------------------------------------------------------------- Interests*/

.interest-heading {
    color: #ffffff;
    font-size: 24px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    margin-top: 30px;
}

.interest-list i {
    color: #ffffff;
    font-size: 22px;
    margin: 20px 8px 0px 8px;
}

.interest-list i:hover {
    color: yellow;

}


/*---------------------------------------------------------------------------- Block Dividers*/

.block-divider {
    margin-top: 0px;
    margin-bottom: 35px;
    width: 50px;
    height: 2px;
    border: 0;
    background-color: #ffd901fa;
}

.block-divider-p {
    margin-top: 0px;
    margin-bottom: 15px;
    width: 50px;
    height: 2px;
    border: 0;
    background-color: #ffd901fa;
}

.block-divider-interest {
    margin-top: 5.6vw;
    margin-bottom: 35px;
    width: 50px;
    height: 2px;
    border: 0;
    background-color: #ffd901fa;
}

.block-divider.my-skills {
    margin-top: 0px;
    margin-bottom: 80px;
    width: 50px;
    height: 2px;
    border: 0;
    background-color: #ffd901fa;
}

.block-divider.progress-bar {
    margin-top: 50px;
    margin-bottom: 40px;
}

.block-divider.contact {
    margin-top: 8px;
    margin-bottom: 9rem;
}

.block-divider.contact-form {
    width: 25px;
}

.block-divider.form {
    margin-top: 3.4em;
}

block-divider.portfolio {
    margin-top: 8px;
    margin-bottom: 9rem;
}

block-divider.portfolio1 {
    margin-top: 8px;
    margin-bottom: 3rem;
}


/*---------------------------------------------------------------------------------- Footer*/

.footer {
    position: static;
    background-color: rgba(48, 46, 46, 0.2);
    color: #ffffff;
    bottom: 0;
    margin-top: 0;
    min-height: 80px;
    
}

h5.uppercase.general-sub {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 15px;
    font-weight: 200; 
}


i.fa.fa-download {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

i.fa.fa-download:hover {
    color: yellow;
}

/*------------------------------------------------------------------------------ Contact Footer*/

footer {
    position: static;
    background-color: rgba(48, 46, 46, 0.6);
    color: #ffffff;
    bottom: 0;
    margin-top: 0;
    min-height: 80px;
}


h5.uppercase.general-sub-2 {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 15px;
    font-weight: 200;
}


.social-links li a i {
    padding: 0 8px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links li a i:hover {
    color:  yellow;
    padding: 0;
}

/*-----------------------------------------------------------------------------Media Queries*/

@media(min-width: 640px) and (max-width: 1040px) { 
.about-me-text {
         margin-right: 0;
         margin-left: 0;
     }
}

@media(min-width: 640px) and (max-width: 1040px) {
#nav-wrapper {
         margin-bottom: -5rem;
     
     }
}

@media(min-height: 1366px) and (max-height: 1366px) {
.container-fluid {
             position: fixed;
         
         }
    }


/*-----------------------------------------------------------------------------Hover.css */

.hvr-float:before {
   margin-top: 2px;
}

.link-colour:hover {
    color: yellow;
}

/*----------------------------------------------------------------------------Resume Page*/

.my-skills-heading {
    margin-top: 12rem;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;

}

.progress {
   position: relative;
   height: 25px;
   margin-bottom: 15px;
   margin-top: 20px;
}

.progress-type {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    left: 0px;
    padding: 10px 15px 2px 10px;
}

.progress-type2 {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    left: 0px;
    margin-bottom: 20px;
    padding: 10px 120px 2px 10px;
}

.front-end-heading {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 10rem;
}

.front-end-heading i {
    color: rgba(48, 46, 46, 1.0);
    font-size: 26px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.front-end-block {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 1.5rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1.5rem;
}

.uxd {
    color: #ffd901fa;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/*-------------------------------------------------------------------------------Work History*/

.work-history-heading {
    margin-top: 8rem;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;
}

.work-history-heading i {
    color: rgba(48, 46, 46, 1.0);
    font-size: 26px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.history-items p {
    color: rgba(48, 46, 46, 1.1);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.history-items h4 {
    font-family: "Exo", sans-serif;
    color:#ffffff;
    font-weight: 300;
    margin-top: 2rem;
    text-align: center;
}

.first-letter {
    color: #ffd901fa;
    font-family: "Exo", sans-serif;
    font-size: 26px;
    font-weight: 300;
    font-style: uppercase;
}

.first-letter-1 {
    color: rgba(48, 46, 46, 1.5);
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 200px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    margin: auto;
    color: #fafafa;
    border-left: 1px solid;
    position: relative;
}

.col-6.timeline-left {
    margin-top: 20px;
    float: left;
    
}

.col-6.timeline-right {
    margin-top: 20px; 
    float: right;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2.4em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/*------------------------------------------------------------------------------Contact Page*/

.contact-header {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 200;
    Margin-top: 12rem;
    color: #ffffff;
}

.contact-heading {
    margin-bottom: 1.5rem;
    font-family: "poppins", sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 200;
}

.contact-secondary.heading {
    margin-bottom: 0.8rem;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

.form-control {
    text-align: left;
    font-family: "poppins", sans-serif;
}

.center-form {
    position: center;
    max-width: 60%;
    margin: 2.4em auto;
    margin-bottom: 9rem;
}

i.fas.fa-comments::before {
    color:  rgba(48, 46, 46, 1.0);
    font-size: 26px;
    margin-left: 6px;
    margin-bottom: 3px;
}

/*----------------------------------------------------------------------- Portfolio Page*/

.my-portfolio-heading {
    margin-top: 9rem;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;
}

.row.portfolio {
    margin-left: 0;
    margin-right: 0;
}

.img-thumbnail {
    border: solid 5px rgba(48, 46, 46, 0.7);
    margin-top: 3em;
    Margin-bottom: 2.0em;
}

.row.proj-images {
    margin-left: 0;
    margin-right: 0;
}

.row.proj-images1 {
    margin-left: 0;
    margin-right: 0;
}



